{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}

{% block header %}

    <!-- Navbar Section -->
    <section class="register">
        <nav class="navbar">
            <div class="container-fluid">
              <a class="navbar-brand"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
            </div>
          </nav>
    </section> 

{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        <p>Sukces! Dziękujemy za rejestrację.</p>

        <p>Na twoją skrzynkę mailową właśnie wysłaliśmy wiadomość z linkiem aktywacyjnym.</p>
           
        <p>Aby korzystać ze swojego konta aktywuj je.</p>

        <a href="/">Strona główna</a>
    </div>
    
{% endblock %}