{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block navbar %}
<!-- Navbar Section -->
<section class="register">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
            {% for message in flash_messages %}
                    <p class="text-{{ message.type }} border border-{{ message.type }} flash">{{ message.body }}</p>
            {% endfor %}
        </div>
    </nav>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block actionArea %}
<!-- Forgot Password Section -->
<div class="setupRegisterDataBox">
    <section id="data-steup">
        <div class="container-fluid">
            <h5>Resetowanie hasła do konta</h5>
            <form action="/password/request-reset" method="post">
                <input name="email" type="email" class="form-control setupDataInput" placeholder="e-mail" value="{{ user.email }}" required>
                <button class="btn btn-success submitBtn" type="submit">Wyślij</button>
                <a href="/" class="btn btn-danger submitBtn">Anuluj</a>
            </form>
            
        </div>
    </section>
</div>

{% endblock %}