{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block header %}

    <!-- Navbar Section -->
    <section class="register">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
                {% for message in flash_messages %}
                    <p class="text-{{ message.type }}">{{ message.body }}</p>
                {% endfor %}
            </div>
          </nav>
    </section> 

{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        <p>Link do resetowania hasła został wysłany na podany adres email.</p>

        <a href="/">Strona główna</a>
    </div>
        
{% endblock %}