{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block navbar %}

    <!-- Navbar Section -->
    <section class="register">
        <nav class="navbar darkMode">
            <div class="container-fluid">
                <a class="navbar-brand darkMode"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
                {% for message in flash_messages %}
                    <p class="text-{{ message.type }} border border-{{ message.type }} flash">{{ message.body }}</p>
                {% endfor %}
            </div>
          </nav>
    </section> 
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block actionArea %}
    <div class="infoRegisterBox d-flex justify-content-between">
        <p>Link do resetowania hasła został wysłany na podany adres email.</p>
        <a class="btn btn-outline-success" href="/">Strona główna</a>
    </div>
{% endblock %}

{% block footer %}
        <div class="footer fixed-bottom darkMode">
            <section>
                <footer>
                    <p>Artur Staszewski 2023</p>
                </footer>
            </section>
        </div>
    </div>
{% endblock %}