{% extends "base.html" %}

{% block title %}smartBudget{% endblock %}

{% block navbar %}
    <!-- Navbar Section -->
    <nav class="navbar fixed-top darkMode">
        <div class="container-fluid">
            <a class="navbar-brand darkMode"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
            <div class="flashVisibility">
                {% for message in flash_messages %}
                <p class="text-{{ message.type }} border border-{{ message.type }} flash">{{ message.body }}</p>
                {% endfor %}
            </div>
            <form class="loginSection" action="/login/create" method="post" class="d-flex" >
                <input name="email" type="email" class="form-control navbarInput" placeholder="e-mail" value="{{ email }}" required>
                <input name="password" type="password" class="form-control navbarInput" placeholder="hasło" required>
                <button class="btn btn-outline-success navbarBtn" type="submit">Zaloguj</button>
                <a class="btn btn-outline-light forgotBtn" href="/password/forgot" role="button">Zapomniałeś hasła?</a>
            </form>
            <a class="hamburgerMenuBtn darkMode" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-circle-chevron-down fa-2xl"></i>
            </a>
            <div class="collapse navbar-collapse hamburgerMenuIndex" id="collapseExample">
                <form action="/login/create" method="post">
                    <input name="email" type="email" class="form-control hamburgerMenuInput" placeholder="e-mail" value="{{ email }}" required>
                    <input name="password" type="password" class="form-control hamburgerMenuInput" placeholder="hasło" required>
                    <button class="btn btn-outline-success hamburgerMenuCollapseBtn" type="submit">Zaloguj</button>
                </form>
                <a class="btn btn-outline-light hamburgerMenuCollapseBtn" href="/password/forgot" role="button">Zapomniałeś hasła?</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block actionArea %}
    <!-- Information Section -->
    <section class="infoSection">
        <div class="row">
            <div class="col-lg-4">
                <div class="infoHomeBox darkMode">
                    <a class="information" href="https://businessinsider.com.pl/poradnik-finansowy/oszczedzanie/dlaczego-warto-oszczedzac-i-jak-skutecznie-ograniczyc-biezace-wydatki/nbb6z6s">
                        <i class="fa-sharp fa-solid fa-piggy-bank fa-10x"></i>
                        <h3 class="infoHeader">Dlaczego warto oszczędzać pieniądze?</h3>
                        <ul class="infoList">
                            <li><h5>Uzyskasz poczucie bezpieczeństwa!</h5></li>
                            <li><h5>Zapewnisz swoim dzieciom bezpieczną przyszłość!</h5></li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="infoHomeBox darkMode">
                    <a class="information" href="https://businessinsider.com.pl/twoje-pieniadze/na-co-warto-wydawac-pieniadze/zln3qxz">
                        <i class="fa-sharp fa-solid fa-plane-departure fa-10x"></i>
                        <h3 class="infoHeader">Na co przeznaczyć zaoszczędzone pieniądze?</h3>
                        <ul class="infoList">
                            <li><h5>Podróżuj!</h5></li>
                            <li><h5>Rozwijaj swoje pasje!</h5></li>
                            <li><h5>Inwestój w rozwój osobisty!</h5></li>
                            <li><h5>Nie bój się chcieć!</h5></li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="infoHomeBox darkMode">
                    <div class="information">
                        <i class="fa-sharp fa-solid fa-user-tie fa-10x"></i>
                        <h3 class="infoHeader">Zarejestruj się za darmo i zrób to z nami!</h3>
                        <ul class="infoList">
                            <li><h5>Darmowa aplikacja!</h5></li>
                            <li><h5>Intuicyjny interfejs!</h5></li>
                            <li><h5>Łatwość w obsłudze!</h5></li>
                            <li><h5>Wsparcie na całym świecie!</h5></li>
                        </ul>
                    </div>
                    <a class="btn btn-success registerBtn" href="/signup/new">Darmowa rejestracja</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
        <div class="footer fixed-bottom darkMode">
            <section>
                <footer>
                    <p>Artur Staszewski 2023</p>
                </footer>
            </section>
        </div>
    </div>
    {% endblock %}
