<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    {% block navbar %}
        <nav class="navbar fixed-top {{mode}}Mode">
            <div class="container-fluid">
                <a class="navbar-brand {{mode}}Mode" href="/profile/show"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
                <a class="hamburgerMenuBtn {{mode}}Mode" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa-solid fa-circle-chevron-down fa-2xl"></i>
                </a>
                <div class="flashVisibility">
                    {% for message in flash_messages %}
                    <p class="text-{{ message.type }} border border-{{ message.type }} flash">{{ message.body }}</p>
                    {% endfor %}
                </div>
                <a class="btn btn-outline-danger navbar-btn" href="/logout">Wyloguj</a>
				<div class="collapse navbar-collapse hamburgerMenu" id="collapseExample">
					<ul class="side-navbar">
                        <a class="{{mode}}Mode" href="/profile/newIncome"><li><i class="fa-sharp fa-solid fa-plus"></i> Dodaj przychód</li></a>
                        <a class="{{mode}}Mode" href="/profile/newExpense"><li><i class="fa-sharp fa-solid fa-minus"></i> Dodaj wydatek</li></a>
                        <a class="{{mode}}Mode" href="/profile/showBalanceSheet"><li><i class="fa-solid fa-sheet-plastic"></i></i> Wyświetl bilans</li></a>
                        <a class="{{mode}}Mode" href="/profile/editIncomesCategory"><li class="{{mode}}Mode"><i class="fa-solid fa-arrow-down"></i> Przychodów</li></a>
                        <a class="{{mode}}Mode" href="/profile/editExpensesCategory"><li class="{{mode}}Mode"><i class="fa-solid fa-arrow-up"></i> Wydatków</li></a>
                        <a class="{{mode}}Mode" href="/profile/editPaymentMethods"><li class="{{mode}}Mode"><i class="fa-solid fa-money-bills"></i> Płatności</li></a>
                        <a class="{{mode}}Mode" href="/profile/editUser"><li class="{{mode}}Mode"><i class="fa-solid fa-user-gear"></i> Dane użytkownika</li></a>
                        <a class="{{mode}}Mode" href="/profile/toggleMode"><li class="{{mode}}Mode"><i class="fa-solid fa-sun"></i></i> Motyw: 
                            {% if user.app_mode == true %}
                                ciemny
                            {% else %}
                                jasny
                            {% endif %}
                        </li></a>
                    </ul>
                    <a class="btn btn-outline-danger navbarCollapseBtn" href="/logout">Wyloguj</a>
				</div>
            </div>
        </nav>
    {% endblock %}

    {% block sidebar %}
        <div class="sidebar {{mode}}Mode">
            <section>
                <nav>
                <ul class="side-navbar">
                    <a class="{{mode}}Mode" href="/IncomeController/newIncome"><li><i class="fa-sharp fa-solid fa-plus"></i> Dodaj przychód</li></a>
                    <a class="{{mode}}Mode" href="/profile/newExpense"><li><i class="fa-sharp fa-solid fa-minus"></i> Dodaj wydatek</li></a>
                    <a class="{{mode}}Mode" href="/profile/showBalanceSheet"><li><i class="fa-solid fa-sheet-plastic"></i></i> Wyświetl bilans</li></a>
                    <div class="dropdown-center">
                        <a class="{{mode}}Mode" href="" data-bs-toggle="dropdown" aria-expanded="false"><li><i class="fa-sharp fa-solid fa-gear"></i> Ustawienia</li></a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="/IncomeCategoriesController/editIncomeCategories"><li class="{{mode}}Mode"><i class="fa-solid fa-arrow-down"></i> Przychodów</li></a>
                            <a class="dropdown-item" href="/profile/editExpensesCategory"><li class="{{mode}}Mode"><i class="fa-solid fa-arrow-up"></i> Wydatków</li></a>
                            <a class="dropdown-item" href="/profile/editPaymentMethods"><li class="{{mode}}Mode"><i class="fa-solid fa-money-bills"></i> Płatności</li></a>
                            <a class="dropdown-item" href="/profile/editUser"><li class="{{mode}}Mode"><i class="fa-solid fa-user-gear"></i> Dane użytkownika</li></a>
                            <a class="dropdown-item" href="/profile/toggleMode"><li class="{{mode}}Mode"><i class="fa-solid fa-sun"></i></i> Motyw: 
                                {% if user.app_mode == true %}
                                    ciemny
                                {% else %}
                                    jasny
                                {% endif %}
                            </li></a>
                        </ul>
                        
                    </div>
                </ul>
                </nav>
            </section>
        </div>
    {% endblock %}

    {% block hamburgerMenu %}
    {% endblock %}

    {% block actionArea %}
    {% endblock %}

    {% block footer %}
        <div class="footer fixed-bottom {{mode}}Mode">
            <section>
                <footer>
                    <p>Artur Staszewski 2023</p>
                </footer>
            </section>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="/js/hideShowPassword.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function () {

            /**
             * Validate the form
             */
            $('#formSignup').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'Podany adres email już istnieje w bazie'
                    }
                }
            });
        });
    </script>

    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0a84d07732.js" crossorigin="anonymous"></script>
</body>
</html>