{% extends 'base.html' %}

{% block title %}Edycja kategorii wydatków{% endblock %}

{% block header %}
<!-- Navbar Section -->
<section class="register">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
            {% for message in flash_messages %}
                <p class="text-{{ message.type }} border border-{{ message.type }} flash">{{ message.body }}</p>
            {% endfor %}
        </div>
    </nav>
</section>
{% endblock %}

{% block body %}
<!-- Setup data for edit Section -->
<section id="data-setup">    
    <div class="row">
        <div class="col-lg-12">
            <h2>Edycja kategorii wydatków</h2>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-outline-light btn-delete" type="button" data-bs-toggle="modal" data-bs-target="#newModal">Nowa kategoria</button>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-outline-light btn-delete" type="button" data-bs-toggle="modal" data-bs-target="#editModal">Edytuj kategorię</button>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-outline-light btn-delete" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Usuń kategorię</button>
        </div>
        <div class="col-lg-12">
            <a href="/profile/show">
                <button class="btn btn-danger btn-delete" type="button">Powrót</button>
            </a>
        </div>
    </div>
</section>

<!-- Modal new expense -->
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark bg-white" id="exampleModalLabel">Dodawanie nowej kategorii</h1>
        </div>
            <form action="/profile/saveNewCategory" method="post">
                <div class="modal-body">
                    <input name="type" type="hidden" value="expense" />
                    <p class="text-dark bg-white">Podaj nazwę nowej kategorii:</p>
                    <input name="newCategoryName" type="text" class="form-control my-input" placeholder="Nazwa nowej kategorii" required>
                    <p class="text-dark bg-white">Czy dla nowej kategorii dodać limit wydatków?</p>
                    <input name="category_limit" type="number" class="form-control my-input" placeholder="Kwota limitu" min="0" step="0.01">
                    <p class="text-dark bg-white"><i>W przypadku gdy nie chcesz dodawać limitu, pozostaw to pole puste.</i></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Zatwierdź</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

<!-- Modal edit expense -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark bg-white" id="exampleModalLabel">Zmiana nazwy kategorii</h1>
        </div>
            <form action="/profile/updateCategory" method="post">
                <div class="modal-body">
                    <input name="type" type="hidden" value="expense" />
                    <p class="text-dark bg-white">Wybierz nazwę kategorii, którą chcesz edytować:</p>
                    <select name="oldCategoryName" class="form-select my-input" placeholder="Kategoria" required>
                        {% if user.expensesCategories is not empty %}
                                {% for categories in user.expensesCategories %}
                                    {% for category in categories %}
                                        <option value='{{ category }}'>{{ category }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </select>
                    <p class="text-dark bg-white">Podaj nową nazwę kategorii:</p>
                    <input name="newCategoryName" type="text" class="form-control my-input" placeholder="Nowa nazwa kategorii">
                    <p class="text-dark bg-white">Czy dla kategorii dodać limit wydatków?</p>
                    <input name="category_limit" type="number" class="form-control my-input" placeholder="Kwota limitu" min="0" step="0.01">
                    <p class="text-dark bg-white"><i>W przypadku gdy nie chcesz dodawać limitu, pozostaw to pole puste.</i></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Zatwierdź</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

<!-- Modal delete expense -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark bg-white" id="exampleModalLabel">Usunięcie kategorii</h1>
        </div>
            <form action="/profile/deleteCategory" method="post">
                <div class="modal-body">
                    <input name="type" type="hidden" value="expense" />
                    <p class="text-dark bg-white">Wybierz nazwę kategorii, którą chcesz usunąć:</p>
                    <select name="deleteCategory" class="form-select my-input" placeholder="Kategoria" required>
                        {% if user.expensesCategories is not empty %}
                                {% for categories in user.expensesCategories %}
                                    {% for category in categories %}
                                        <option value='{{ category }}'>{{ category }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </select>
                    <p class="text-dark bg-white">Wybierz nazwę kategorii, którą przypisać do już dodanych wydatków:</p>
                    <select name="newCategory" class="form-select my-input" placeholder="Kategoria" required>
                        {% if user.expensesCategories is not empty %}
                                {% for categories in user.expensesCategories %}
                                    {% for category in categories %}
                                        <option value='{{ category }}'>{{ category }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Zatwierdź</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

{% if user.errors is not empty %}
<p>Błędy:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}