{% extends 'base.html' %}

{% block title %}Edycja metod płatności wydatków{% endblock %}

{% block actionArea %}
<!-- Setup data for edit Section -->
<div class="actionArea">
    <div class="setupDataBox {{mode}}Mode">
        <h5>Edycja metod płatności dla wydatków</h5>
        <button class="btn btn-light btn-delete {{mode}}Mode" type="button" data-bs-toggle="modal" data-bs-target="#newModal">Nowa metoda płatności</button>
        <button class="btn btn-light btn-delete {{mode}}Mode" type="button" data-bs-toggle="modal" data-bs-target="#editModal">Edytuj metodę płatności</button>
        <button class="btn btn-light btn-delete {{mode}}Mode" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Usuń metodę płatności</button>
    </div>
</div>

<!-- Modal new payment -->
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark bg-white" id="exampleModalLabel">Dodawanie nowej metody płatności</h1>
        </div>
            <form action="/profile/saveNewPayment" method="post">
                <div class="modal-body">
                    <input name="type" type="hidden" value="payment" />
                    <p class="text-dark bg-white">Podaj nazwę nowej metody płatności:</p>
                    <input name="newPaymentName" type="text" class="form-control my-input" placeholder="Nazwa nowej metody płatności" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Zatwierdź</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

<!-- Modal edit payment -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark bg-white" id="exampleModalLabel">Zmiana nazwy metody płatności</h1>
        </div>
            <form action="/profile/saveNewPaymentName" method="post">
                <div class="modal-body">
                    <input name="type" type="hidden" value="payment" />
                    <p class="text-dark bg-white">Wybierz nazwę metody, którą chcesz edytować:</p>
                    <select name="oldPaymentName" class="form-select my-input" placeholder="Kategoria" required>
                        {% if user.paymentMethods is not empty %}
                                {% for payments in user.paymentMethods %}
                                    {% for payment in payments %}
                                        <option value='{{ payment }}'>{{ payment }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </select>
                    <p class="text-dark bg-white">Podaj nową nazwę metody:</p>
                    <input name="newPaymentName" type="text" class="form-control my-input" placeholder="Nowa nazwa metody płatności" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Zatwierdź</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

<!-- Modal delete payment -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark bg-white" id="exampleModalLabel">Usunięcie metody płatności</h1>
        </div>
            <form action="/profile/deletePayment" method="post">
                <div class="modal-body">
                    <input name="type" type="hidden" value="payment" />
                    <p class="text-dark bg-white">Wybierz nazwę kategorii, którą chcesz usunąć:</p>
                    <select name="deletePayment" class="form-select my-input" placeholder="Metoda płatności" required>
                        {% if user.paymentMethods is not empty %}
                                {% for payments in user.paymentMethods %}
                                    {% for payment in payments %}
                                        <option value='{{ payment }}'>{{ payment }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </select>
                    <p class="text-dark bg-white">Wybierz nazwę kategorii, którą przypisać do już dodanych wydatków:</p>
                    <select name="newPayment" class="form-select my-input" placeholder="Metoda płatności" required>
                        {% if user.paymentMethods is not empty %}
                                {% for payments in user.paymentMethods %}
                                    {% for payment in payments %}
                                        <option value='{{ payment }}'>{{ payment }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Zatwierdź</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

{% if user.errors is not empty %}
<div class="infoBox">
    <p>Błędy:</p>
    <ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}