{% extends 'base.html' %}

{% block title %}Edycja kategorii przychodów{% endblock %}

{% block actionArea %}
<!-- Setup data for edit Section -->
<div class="actionArea">
    <div class="editDataBox {{mode}}Mode">
        <h5>Edycja kategorii przychodów</h5>
        <button class="btn btn-light btn-delete {{mode}}Mode" type="button" data-bs-toggle="modal" data-bs-target="#newModal">Nowa kategoria</button>
        <select id="categoryName" class="form-select editCategoryInput" required>
            <option>Wybierz kategorię</option>
            {% if user.incomesCategories is not empty %}
                    {% for categories in user.incomesCategories %}
                        {% for category in categories %}
                            <option value='{{category}}'>{{ category }}</option>
                        {% endfor %}
                    {% endfor %}
            {% endif %}
        </select>
    </div>
    <div id="selectedCategoryCard">
        <div class="editDataBox {{mode}}Mode">
            <a class="deleteCategoryBtn" role="button" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="fa-solid fa-circle-xmark fa-xl"></i>
            </a>
            <h5><i id="selectedCategoryName">"Wybierz kategorię"</i></h5>
            <button class="btn btn-outline-warning editCategoryBtn" type="button" data-bs-toggle="modal" data-bs-target="#editModal">Edytuj</button>
        </div>
    </div>
</div>

<!-- Modal new income -->
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content {{mode}}Mode">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Dodawanie nowej kategorii</h1>
        </div>
            <form action="/IncomeCategoriesController/saveNewCategory" method="post">
                <div class="modal-body">
                    <p>Podaj nazwę nowej kategorii:</p>
                    <input name="newCategoryName" type="text" class="form-control editCategoryInput" placeholder="Nazwa nowej kategorii" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Zatwierdź</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

<!-- Modal edit income -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content {{mode}}Mode">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Zmiana nazwy kategorii przychodu</h1>
        </div>
            <form action="/IncomeCategoriesController/updateCategory" method="post">
                <div class="modal-body">
                    <p>Wybrałeś do edycji kategorię <span id="selectedCategoryName"></span>. Podaj nową nazwę dla wybranej kategorii:</p>
                    <input id="hiddenInput" name="oldCategoryName" type="hidden" />
                    <input name="newCategoryName" type="text" class="form-control editCategoryInput" placeholder="Nowa nazwa kategorii" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Zatwierdź</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

<!-- Modal delete income -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content {{mode}}Mode">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Usunięcie kategorii</h1>
        </div>
            <form action="/IncomeCategoriesController/deleteCategory" method="post">
                <div class="modal-body">
                    <p>Wybrałeś do usunięcia kategorię <span id="selectedCategoryName"></span>. Wybierz nazwę kategorii, którą przypisać do już dodanych przychodów:</p>
                    <input id="hiddenInput" name="deleteCategory" type="hidden" />
                    <select name="newCategory" class="form-select editCategoryInput" placeholder="Kategoria" required>
                        {% if user.incomesCategories is not empty %}
                                {% for categories in user.incomesCategories %}
                                    {% for category in categories %}
                                        <option value='{{ category }}'>{{ category }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Zatwierdź</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Anuluj</button>
                </div>
            </form>
      </div>
    </div>
</div>

{% if user.errors is not empty %}
<p>Błędy:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/js/editIncomeCategories.js"></script>
{% endblock %}