{% extends 'base.html' %}

{% block title %}Dodawanie przychodu{% endblock %}

{% block header %}
<!-- Navbar Section -->
<section class="register">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
        </div>
    </nav>
</section>
{% endblock %}

{% block body %}
<!-- Signup Section -->
<section id="data-setup">
    <div class="container-fluid">
            <form action="/profile/saveIncome" method="post" id="formNewIncome">
                <input name="userId" type="hidden" value="{{ user.id }}" />
                <input name="amount" type="number" class="form-control my-input" placeholder="Kwota" min="0" step="0.01" required>
                <input id="dateField" name="date" type="date" class="form-control my-input" placeholder="Data" min="2000-01-01" max="{{ user.todayDate }}" required>
                <select name="category" class="form-select my-input" placeholder="Kategoria" required>
                    {% if user.incomesCategories is not empty %}
                            {% for categories in user.incomesCategories %}
                                {% for category in categories %}
                                <option value='{{ category }}'>{{ category }}</option>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </select>
                <textarea name="comment" class="form-control my-input comentary-input" placeholder="Komentarz (opcjonalnie)"></textarea>
                <button class="btn btn-success btn-submit" type="submit">Dodaj</button>
                <a href="/profile/show">
                    <button class="btn btn-danger btn-submit" type="button">Anuluj</button>
                </a>
            </form>
    </div>
</section>

{% if user.errors is not empty %}
<p>Błędy:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}