{% extends 'base.html' %}

{% block title %}Profil użytkownika{% endblock %}
    
{% block actionArea %}
    <section class="actionArea">
        <div class="row">
            <div class="col-lg-6">
                <div class="shortSummary {{mode}}Mode">
                    <h3>Witaj, {{ user.username }}!</h3>
                    <h4>Dzisiaj mamy wspaniały dzień aby zarządać swoim budżetem ;)</h4>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shortSummary {{mode}}Mode">
                    <h3>Krótkie podsumowanie twoich finansów:</h3>
                    <h4>Twoje przychody w tym miesiącu : <span class="incomeSummary">{{ user.incomeSummary }} PLN</span></h4>
                    <h4>Twoje wydatki w tym miesiącu : <span class="expenseSummary">{{ user.expenseSummary }} PLN</span></h4>
                    <h4>Bilans : 
                        {% if user.incomeSummary-user.expenseSummary > 0 %}
                            <span class="incomeSummary">{{user.incomeSummary-user.expenseSummary}} PLN</span> 
                        {% else %}
                            <span class="expenseSummary">{{user.incomeSummary-user.expenseSummary}} PLN</span>
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    </section>

{% endblock %}