{% extends 'base.html' %}

{% block header %}
    <section class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="fa-sharp fa-solid fa-coins navbar-img"></i>smartBudget</a>
            <a href="/logout">
                <button class="btn btn-outline-danger navbar-btn" type="submit">Wyloguj</button>
            </a>
        </div>  
    </section>
{% endblock %}
    
{% block body %}

    <section class="side-left-middle-container">
        <nav>
        <ul class="side-navbar">
            <a href=""><li><i class="fa-sharp fa-solid fa-plus"></i> Dodaj przychód</li></a>
            <a href=""><li><i class="fa-sharp fa-solid fa-minus"></i> Dodaj wydatek</li></a>
            <a href=""><li><i class="fa-solid fa-sheet-plastic"></i></i> Wyświetl bilans</li></a>
            <a href=""><li><i class="fa-sharp fa-solid fa-gear"></i> Ustawienia</li></a>
        </ul>
        </nav>
    </section>
    <section class="side-right-middle-container">
        <article>
        <div class="summary container-fluid" >
            <h1>Witaj, {{ user.username }}!</h1>
            <h2>Twoje dochody w tym miesiącu : <span class="income-summary">0,00 zł</span></h2>
            <h2>Twoje wydatki w tym miesiącu : <span class="expence-summary">0,00 zł</span></h2>
            <h2>Różnica : <span class="income-summary">00,00 zł</span></h2>
        </div>
        </article>
    </section>

{% endblock %}